.albumDetails {
  font-size: 1rem;
  max-width: 300px;
}

.albumMeta {
  padding: 0 0.125rem;
  margin-bottom: 1rem;
}

.artistName,
.albumName {
  margin: 1rem 0 0;
}

.artistName {
  font-weight: bold;
}

.citation,
.linkCitation {
  color: #444;
}
.linkCitation {
  color: var(--link-color);
}

.albumName,
.albumNameLink {
  margin-top: 0;
  color: #888;
  font-weight: bold;
}

.albumNameLink {
  color: var(--link-color);
}

.releaseDate {
  margin-top: 1rem;
  font-size: 0.925rem;
}
.nprLink {
  font-size: 0.925rem;
  color: var(--link-color);
}

.wrapper {
  display: block;
  max-width: 30rem;
  margin: auto;
}

.sampleWrapper {
  width: 100%;
}

.trackList {
  list-style: none;
}

.link {
  color: var(--link-color);
}

.tracksWrapper {
  margin-top: 1rem;
}

.audio {
  width: 100%;
}

.trackItem {
  margin-bottom: 1.5rem;
}
.trackName {
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  font-size: 0.875rem;
}

.bioWrapper {
}

@media screen and (min-width: 900px) {
  .wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    grid-template-areas:
      "albumWrapper bioWrapper"
      "albumWrapper tracksWrapper"; /* Bio (C) comes before tracks (B) */
  }

  .albumWrapper {
    grid-area: albumWrapper;
  }

  .tracksWrapper {
    grid-area: tracksWrapper;
    margin: 0;
  }

  .bioWrapper {
    grid-area: bioWrapper;
    padding: 0;
  }
}

@media screen and (min-width: 1240px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "albumWrapper tracksWrapper bioWrapper";
  }
}
