.listing {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.albumWrapper {
  display: flex;
  gap: 1rem;
}

.sampleWrapper {
  width: 300px;
}

.details {
  /* display: flex; */
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
}

.trackDetails {
  margin: 1rem 0;
}

.trackList {
  list-style: none;
}

.trackItem {
  margin: 1rem 0;
}

.artistName {
  margin-right: 1rem;
}

.link {
  color: rgb(0, 89, 184);
}

.pagination {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}
