.link {
  color: rgb(0, 89, 184);
}

.pagination {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}

.linkDisabled {
  cursor: none;
  pointer-events: none;
  visibility: hidden;
}
